 .admin-container { 
    padding: 20px 5%; }
        
.texte { 
    margin-bottom: 20px; }
        
.action-form { 
    background: #fff;
     padding: 20px; 
     border-radius: 8px; 
     box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
     margin-bottom: 30px; }
        
.action-form input[type="text"] { 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 60%; 
    margin-right: 10px; }
        
.action-form button { 
    background: rgb(69, 18, 136);
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; }
        
.categories-table { width: 100%; 
    border-collapse: collapse;
     margin-top: 20px; 
     background: #fff; }
        
.categories-table th, .categories-table td { 
    border: 1px solid #ddd; 
    padding: 12px; 
    text-align: left; }
        
.categories-table th { 
    background-color: #f7f7f7; 
    font-weight: 600; }
        
.message-success { background-color: #d4edda; 
    color: #155724; 
    padding: 10px; 
    margin-bottom: 20px;
     border-radius: 4px; }
        
     
.message-error { 
    background-color: #f8d7da; 
    color: #721c24; padding: 10px; 
    margin-bottom: 20px; 
    border-radius: 4px; }
   