* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}





.login-container {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-section {
    position: relative;
    flex: 1;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 300;
     margin-left: 230px;
     margin-top: 100px;
    
}

input {
    width: 300px;
    height: 50px;
    padding: 12px;
    margin: 10px 0;
    margin-left: 150px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: #e6e6e6;
}

.forgot-password {
    text-decoration: none;
    color: rgb(186, 154, 228);
    font-size: 14px;
    align-self: flex-start;
    margin-bottom: 20px;
    padding-left: 270px;
    
    margin-left: 30px;

}

.login-btn {
    width: 200px;
    padding: 12px;
    background: rgb(69, 18, 136);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 200;
     margin-left: 200px;
   
}

.signup-alt-btn {
    width: 200px;
    padding: 12px;
    background: rgb(186, 154, 228);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 200;
     margin-left: 200px;
   
}


