.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    background: #fff;
    height: 70px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    padding: 3px 10px; 
    display: inline-block; 
}

.logo .dot {
    color: rgb(69, 18, 136);
    font-size: 20px;
}

header {
    display: flex;
    gap: 5px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    padding: 12px 20px; 
    display: inline-block; 
    border-radius: 20px; 
    font-family: 'Raleway', sans-serif;
}

header a.btn-outline {
    
    border: 1px solid rgb(69, 18, 136);
    
    color:rgb(69, 18, 136);
}
header a.btn-outline:hover {
    background: rgb(69, 18, 136);
    color: white;
}
header a:hover{
    color: rgb(69, 18, 136);
}
header input{
    margin-left: 50px;
}