* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


.login-container {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-section {
    position: relative;
    flex: 1;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 70px;
    color: white;
    font-size: 35px;
    font-weight: 100;
    bottom: 500px;
    font-family: italiana;
}

.login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
     margin-left: 230px;
     margin-top: 100px;
}
h1{
    font-weight: 400;
}

input {
    width: 300px;
    height: 50px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: #e6e6e6;
    margin-left: 150px;
}





.signin-btn {
    width: 200px;
    padding: 12px;
    background-color: rgb(69, 18, 136);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
     margin-left: 200px;
   
}









